<div class="container main mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-8 col-xs-12 col-lg-4 pt-5 pl-4 ml-2 departure">
            <label>Leaving From</label>
            <input type="text" name="text" placeholder="Select Place" />
        </div>
        <div class="col-md-4 col-sm-8 col-xs-12 col-lg-4 pt-5 pl-4 destination ml-5">
            <label>Going To</label>
            <input type="text" name="text" />
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12 col-lg-6 pt-5 pl-5 departing">
                <label>Departing On</label>
                <input class="pl-5" type="date" name="text" placeholder="dd-mm-yyyy" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="searchBtn mt-5 border-gray">
            <input class="searchBtn" type="button" value="Search Buses" />
        </div>
    </div>

</div>